p
{
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 800;
	margin-top: 10%;
	margin-left: 1.66%;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 97%;
	padding-bottom: 20px;
}

.container
{
	position: relative;
	column-count: 4;
	padding: 30px;
}

img
{
	width: 100%;
	padding-top: 5%;
	padding-right: 5%;
}

@media screen and (max-width:1024px)
{
	.container
	{
		column-count: 4;
	}
}

@media screen and (max-width:768px)
{
	.container
	{
		column-count: 3;
	}
}

@media screen and (max-width:425px)
{
	.container
	{
		column-count: 2;
	}
}

@media screen and (max-width:375px)
{
	.container
	{
		column-count: 1;
	}
}